* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.sky {
  height: 90vh;
  width: 100vw;
  background-image: url(./images/sky.jpg);
  background-size: cover;
}
.road {
  position: absolute;
  height: 26%;
  width: 500%;
  background-color: red;
  background-image: url(./images/road.jpg);

  bottom: 0%;
  animation: roadMove 5s linear infinite;
}

@keyframes roadMove {
  100% {
    transform: translateX(-3000px);
  }
}

.streets {
  height: 220px;
  width: 500%;

  background-image: url(./images/streets.png);
  position: absolute;
  bottom: 26%;
  animation: streetMove 15s linear infinite;
}

@keyframes streetMove {
  100% {
    transform: translateX(-1000px);
  }
}

.car {
  /* background-color: red; */
  width: 400px;
  left: 50%;
  bottom: 13%;
  position: absolute;
  transform: translate(-50%);
}
.car img {
  width: 400px;
  animation: carMove 1s linear infinite;
}
.driver img {
  position: absolute;
  height: 40px;
  width: 80px;
  top: 66.5%;
  left: 47%;

  animation: driverMove 1s linear infinite;
}
@keyframes driverMove {
  0% {
    transform: rotate(9deg) translateY(-1px);
  }
  50% {
    transform: rotate(7deg) translateY(1px);
  }
  100% {
    transform: rotate(9deg) translateY(-1px);
  }
}
@keyframes carMove {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

.wheels img {
  height: 60px;
  width: 60px;
  animation: wheelMove 0.6s linear infinite;
}
#front {
  position: absolute;
  top: 77%;
  left: 55.56%;
}
#back {
  position: absolute;
  top: 77%;
  left: 37.9%;
}
@keyframes wheelMove {
  100% {
    transform: rotate(360deg);
  }
}
